<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>duration</key>
<string>333000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170109/20170109150710384221.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/69a9f3240273d50643c667529fb902e0/597974c0/G083/M08/0E/04/kw0DAFhvcJSAAX3SAFFchlFbaO8093.mp3</string>
<key>singer</key>
<string>张碧晨</string>
<key>songId</key>
<string>0a7e5a80-72a2-11e7-a58f-f45c8991f5ab</string>
<key>songName</key>
<string>凉凉</string>
</dict>
<dict>
<key>duration</key>
<string>328000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170205/20170205183509587.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/7c37452c8c24ea412bbaa020844103b0/59796e52/G085/M04/04/19/lQ0DAFh_OnOAEvaeAFAaxR3PVO4400.mp3</string>
<key>singer</key>
<string>赵雷</string>
<key>songId</key>
<string>0aab45ca-72a2-11e7-b81f-f45c8991f5ab</string>
<key>songName</key>
<string>成都</string>
</dict>
<dict>
<key>duration</key>
<string>199000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20140304/20140304154338526832.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/4c3ac0e15b1e306fa20b6ae0f84ae724/59796cbc/G078/M08/18/17/jg0DAFgi6G-AKqsqADDP_nSW5F4051.mp3</string>
<key>singer</key>
<string>李玉刚</string>
<key>songId</key>
<string>0adb0d30-72a2-11e7-981e-f45c8991f5ab</string>
<key>songName</key>
<string>刚好遇见你</string>
</dict>
<dict>
<key>duration</key>
<string>235000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160926/20160926153722236.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/139a2d5a5dc0c4e2bb29b803c173c457/597979c9/G108/M03/0C/01/rA0DAFk_VuiALN9DADmXB0zHYTA058.mp3</string>
<key>singer</key>
<string>岑宁儿</string>
<key>songId</key>
<string>0aec6d51-72a2-11e7-a9a0-f45c8991f5ab</string>
<key>songName</key>
<string>追光者</string>
</dict>
<dict>
<key>duration</key>
<string>213000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170316/20170316182005449.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/f7c3bbdb4ba4b14834519cef29414228/59797649/G052/M04/19/07/FJQEAFZWxMSAbdi-ADPyIZwJRM0272.mp3</string>
<key>singer</key>
<string>Alan Walker</string>
<key>songId</key>
<string>0b0dd899-72a2-11e7-90aa-f45c8991f5ab</string>
<key>songName</key>
<string>Faded</string>
</dict>
<dict>
<key>duration</key>
<string>312000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170713/20170713161536456.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/7d019ce09e91dff2c67aa2f5074b585b/59796e59/G100/M07/05/0F/pA0DAFjrZL-AIwSDAEw1sU-h2zs456.mp3</string>
<key>singer</key>
<string>薛之谦</string>
<key>songId</key>
<string>0b215fee-72a2-11e7-ba30-f45c8991f5ab</string>
<key>songName</key>
<string>暧昧</string>
</dict>
<dict>
<key>duration</key>
<string>253000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170609/20170609173634311.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/812f0acb4c3268baa270103c8d13965e/597979e6/G027/M04/05/13/Ww0DAFWeMRuAS1HIAD3r6i-KjiE901.mp3</string>
<key>singer</key>
<string>陈雅森</string>
<key>songId</key>
<string>0b35d4a6-72a2-11e7-97fd-f45c8991f5ab</string>
<key>songName</key>
<string>温柔乡</string>
</dict>
<dict>
<key>duration</key>
<string>261000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170713/20170713161536456.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/41532ee09d7ee15ce956ecefc27822f6/59797121/G018/M00/0A/04/Ug0DAFVw-LCAYoUkAD_FoLiLEPc990.mp3</string>
<key>singer</key>
<string>薛之谦</string>
<key>songId</key>
<string>0b45d4d1-72a2-11e7-bdbc-f45c8991f5ab</string>
<key>songName</key>
<string>演员</string>
</dict>
<dict>
<key>duration</key>
<string>264000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170711/20170711160049223.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/590b9f7927feef7af29bd01effac8a3e/59797355/G113/M0B/0D/03/UZQEAFlZkpSAPlBNAEB5I-PqefM924.mp3</string>
<key>singer</key>
<string>TFBOYS</string>
<key>songId</key>
<string>0b68af40-72a2-11e7-a297-f45c8991f5ab</string>
<key>songName</key>
<string>加油!AMIGO</string>
</dict>
<dict>
<key>duration</key>
<string>312000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170616/20170616143526902.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/cc94cce649ecccfac9044dc600d0880f/59797740/G077/M00/0B/01/LZQEAFgwNPKARhv_AExq2zIsMME471.mp3</string>
<key>singer</key>
<string>神马乐团</string>
<key>songId</key>
<string>0b79b7a1-72a2-11e7-81cf-f45c8991f5ab</string>
<key>songName</key>
<string>爱河</string>
</dict>
<dict>
<key>duration</key>
<string>257000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161222/20161222154900283.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/769538e4705d50569f087473a42efc45/597972ea/G068/M05/1A/0B/JJQEAFfu7uGAE019AD7-JN0tKNU828.mp3</string>
<key>singer</key>
<string>陈一发儿</string>
<key>songId</key>
<string>0b8d93c5-72a2-11e7-930b-f45c8991f5ab</string>
<key>songName</key>
<string>童话镇</string>
</dict>
<dict>
<key>duration</key>
<string>216000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170119/20170119105146606.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/6b0a3da0c4d3da7c48735a9ef1100252/597974dd/G059/M02/17/1D/ew0DAFdr9KmAf5GnADSkTnjFCm0437.mp3</string>
<key>singer</key>
<string>周杰伦</string>
<key>songId</key>
<string>0b9e8c1c-72a2-11e7-922a-f45c8991f5ab</string>
<key>songName</key>
<string>告白气球</string>
</dict>
<dict>
<key>duration</key>
<string>284000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161009/20161009101130222.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/720403f46041d469c51f6f2a764e76f5/59796dc8/G008/M08/17/19/qIYBAFUNqSyAbbQEAEVFDnjcjL0459.mp3</string>
<key>singer</key>
<string>梦然</string>
<key>songId</key>
<string>0bca0587-72a2-11e7-a776-f45c8991f5ab</string>
<key>songName</key>
<string>没有你陪伴真的好孤单</string>
</dict>
<dict>
<key>duration</key>
<string>191000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170712/20170712163421624.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/c1b3ed5eaa247686b6c1a333eacd2fa1/59796e07/G045/M08/0E/10/bQ0DAFYAup6AAb4zAC6_VySKiK8411.mp3</string>
<key>singer</key>
<string>鹿晗</string>
<key>songId</key>
<string>0be021fd-72a2-11e7-8c07-f45c8991f5ab</string>
<key>songName</key>
<string>致爱 Your Song</string>
</dict>
<dict>
<key>duration</key>
<string>310000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170713/20170713161536456.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/b0bdaa7723306dc3d95b2fd88abc9ce8/59797642/G014/M01/0D/13/roYBAFUJf-aAAH3yAEvEgNLBpE0455.mp3</string>
<key>singer</key>
<string>薛之谦</string>
<key>songId</key>
<string>0c0acac5-72a2-11e7-b8b7-f45c8991f5ab</string>
<key>songName</key>
<string>你还要我怎样</string>
</dict>
<dict>
<key>duration</key>
<string>253000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170713/20170713161536456.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/095efbdda22e6795af7407f4e19c77c1/59797938/G009/M02/06/15/SQ0DAFUJf-KAa_LnAD3gDgbvu7o702.mp3</string>
<key>singer</key>
<string>薛之谦</string>
<key>songId</key>
<string>0c1b4a05-72a2-11e7-a5b8-f45c8991f5ab</string>
<key>songName</key>
<string>丑八怪</string>
</dict>
<dict>
<key>duration</key>
<string>249000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20151209/20151209155647895139.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/00ca1c2f23a7af7e33cb755c9e6c31c0/5979771e/G008/M01/1C/18/SA0DAFULOMWAPUxPADzlTddWQKQ368.mp3</string>
<key>singer</key>
<string>萧全</string>
<key>songId</key>
<string>0c420b3a-72a2-11e7-80d9-f45c8991f5ab</string>
<key>songName</key>
<string>社会摇</string>
</dict>
<dict>
<key>duration</key>
<string>211000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170101/20170101005922562.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/454bef1b3dc49e1334d62c69a689743a/59797968/G012/M02/1D/00/rIYBAFULdtqABXc6ADOdDs7zAQA543.mp3</string>
<key>singer</key>
<string>筷子兄弟</string>
<key>songId</key>
<string>0c562a78-72a2-11e7-be11-f45c8991f5ab</string>
<key>songName</key>
<string>小苹果</string>
</dict>
<dict>
<key>duration</key>
<string>220000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170704/20170704194248962.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/9ea27897dd561ef6821c4e57efa11c53/59796c77/G108/M01/15/03/DIcBAFlbO-eAa9hXADZx9OnlrcU598.mp3</string>
<key>singer</key>
<string>叶炫清</string>
<key>songId</key>
<string>0c6b2ec0-72a2-11e7-9b16-f45c8991f5ab</string>
<key>songName</key>
<string>九张机</string>
</dict>
<dict>
<key>duration</key>
<string>216000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170412/20170412162146478.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/5504722fb81306d9fef62101fa3fdf9e/59797158/G105/M07/06/0F/qQ0DAFk1PKGAfWI7ADTS7nvQtpE714.mp3</string>
<key>singer</key>
<string>汪苏泷</string>
<key>songId</key>
<string>0c8f9863-72a2-11e7-9b8c-f45c8991f5ab</string>
<key>songName</key>
<string>那个男孩</string>
</dict>
<dict>
<key>duration</key>
<string>255000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170106/20170106171217388.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/d2f73d00b497ccb7eccbd0af182c3bb5/597977d0/G095/M07/17/1D/_4YBAFkmjqiAO7QHAD59CTlCc7k803.mp3</string>
<key>singer</key>
<string>赵丽颖</string>
<key>songId</key>
<string>0cba81ca-72a2-11e7-99f7-f45c8991f5ab</string>
<key>songName</key>
<string>望</string>
</dict>
<dict>
<key>duration</key>
<string>291000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170713/20170713161536456.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/a5ff9ee933dbd8fbcc75997af98e779c/59797119/G017/M01/10/1D/sYYBAFVb5QaAdZc8AEcQAd70_OI476.mp3</string>
<key>singer</key>
<string>薛之谦</string>
<key>songId</key>
<string>0ce50c4a-72a2-11e7-a027-f45c8991f5ab</string>
<key>songName</key>
<string>绅士</string>
</dict>
<dict>
<key>duration</key>
<string>269000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170707/20170707175607679.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/aba1e8774be524e37a02656f9ab43e2a/597975c7/G114/M04/15/13/EocBAFlgLXWAXM9FAEHTTrPxLgQ471.mp3</string>
<key>singer</key>
<string>王源</string>
<key>songId</key>
<string>0d1992ee-72a2-11e7-b48b-f45c8991f5ab</string>
<key>songName</key>
<string>阳光不锈</string>
</dict>
<dict>
<key>duration</key>
<string>283000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160711/20160711151037573639.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/476ea91de6c0f16715a5c7687cbf5393/597978f6/G114/M06/12/05/EocBAFlxz06AYrxeAEU7KfbxQaU295.mp3</string>
<key>singer</key>
<string>那英</string>
<key>songId</key>
<string>0d2d3811-72a2-11e7-930f-f45c8991f5ab</string>
<key>songName</key>
<string>三生三世十里桃花</string>
</dict>
<dict>
<key>duration</key>
<string>290000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170628/20170628110356447.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/bc28f8f15198b7c8e43f9fdc1e076557/59797275/G110/M07/06/0F/DocBAFli7UCAZgkIAEayL9AUOoE931.mp3</string>
<key>singer</key>
<string>张靓颖</string>
<key>songId</key>
<string>0d50ca00-72a2-11e7-8bdc-f45c8991f5ab</string>
<key>songName</key>
<string>玲珑</string>
</dict>
<dict>
<key>duration</key>
<string>257000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170217/20170217144954936.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/e5de655f5d67ee24f5d0686fcfda4fbe/59796dce/G109/M02/18/19/rQ0DAFl4O-GAQ57dAD7PDK5wwVg809.mp3</string>
<key>singer</key>
<string>SING女团</string>
<key>songId</key>
<string>0d61eea3-72a2-11e7-9556-f45c8991f5ab</string>
<key>songName</key>
<string>123木头人</string>
</dict>
<dict>
<key>duration</key>
<string>230000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160525/20160525165853292078.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/22b3a0fcbeff9aea2575f581e7c4ebc4/59796f87/G104/M04/16/0D/SJQEAFl4ZpCAGc3BADgzpk6uJwk487.mp3</string>
<key>singer</key>
<string>杨培安</string>
<key>songId</key>
<string>0d76921c-72a2-11e7-875f-f45c8991f5ab</string>
<key>songName</key>
<string>生死相随</string>
</dict>
<dict>
<key>duration</key>
<string>240000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170221/20170221154248275887.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/7c34f70310855cd3e96e6441f4acacac/597974b6/G103/M01/02/05/B4cBAFl4UPSAHzCrADqgL7Nr80I493.mp3</string>
<key>singer</key>
<string>孙露</string>
<key>songId</key>
<string>0d8a3268-72a2-11e7-93d8-f45c8991f5ab</string>
<key>songName</key>
<string>美人脸</string>
</dict>
<dict>
<key>duration</key>
<string>122000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170724/20170724150212668.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/e36359fbb0944446062fdfe4006da53f/597974dc/G105/M07/00/0D/qQ0DAFl1lziAOm3VAB3Tfui02Ok518.mp3</string>
<key>singer</key>
<string>黄晓明</string>
<key>songId</key>
<string>0db22d87-72a2-11e7-aa2b-f45c8991f5ab</string>
<key>songName</key>
<string>中餐厅</string>
</dict>
<dict>
<key>duration</key>
<string>112000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170112/20170112121136276.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/42179d845625adfb4087c3ec7287d05f/59796f05/G107/M08/0A/1B/qw0DAFl4xAOAbcXGABthoFu8cyY912.mp3</string>
<key>singer</key>
<string>马念先</string>
<key>songId</key>
<string>0dd9f96b-72a2-11e7-bbac-f45c8991f5ab</string>
<key>songName</key>
<string>胡八一你不要来</string>
</dict>
<dict>
<key>duration</key>
<string>228000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161125/20161125213630101.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/b3bc11d0c5d57a2465d750c07538f4ab/597979eb/G091/M07/0C/11/O5QEAFlnOt6ABZc6ADe8r0gIF30017.mp3</string>
<key>singer</key>
<string>金南玲</string>
<key>songId</key>
<string>0e26a4e1-72a2-11e7-9917-f45c8991f5ab</string>
<key>songName</key>
<string>我不送</string>
</dict>
<dict>
<key>duration</key>
<string>251000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161217/20161217145450173.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/2787f2f207d8b5063a3c854c3dff4319/597970ee/G105/M00/15/07/qQ0DAFlnmlWAb2xKAD11Lx68vh8698.mp3</string>
<key>singer</key>
<string>尚雯婕</string>
<key>songId</key>
<string>0e45fc5c-72a2-11e7-9535-f45c8991f5ab</string>
<key>songName</key>
<string>装甲战争 Armored Warfare</string>
</dict>
<dict>
<key>duration</key>
<string>252000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160418/20160418100508296.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/c66fa3350492872aeccde0b34bfe1f22/597979eb/G107/M01/05/07/S5QEAFll9duAXRMwAD2tjwRDGuo229.mp3</string>
<key>singer</key>
<string>郑源</string>
<key>songId</key>
<string>0e7269cc-72a2-11e7-a01c-f45c8991f5ab</string>
<key>songName</key>
<string>伴</string>
</dict>
<dict>
<key>duration</key>
<string>257000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170602/20170602184400518.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/055ddd5bf29aedd283978ec20dfcf554/59797698/G104/M06/12/19/qA0DAFlskS2AMOPiAD7LxMpbbF8404.mp3</string>
<key>singer</key>
<string>许佳慧</string>
<key>songId</key>
<string>0ea367d1-72a2-11e7-a584-f45c8991f5ab</string>
<key>songName</key>
<string>生还者</string>
</dict>
<dict>
<key>duration</key>
<string>244000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161016/20161016234854256.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/4940752b35d352ab44f4c3d5096d8435/5979722d/G107/M08/01/1B/qw0DAFl4QzqALsVTADuYJKv6kiE760.mp3</string>
<key>singer</key>
<string>徐真真</string>
<key>songId</key>
<string>0ecbda78-72a2-11e7-8027-f45c8991f5ab</string>
<key>songName</key>
<string>哪里下的雨都一样</string>
</dict>
<dict>
<key>duration</key>
<string>309000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170404/20170404030359517648.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/cf9ff6ad56603d56eae0885087d202fe/5979744d/G106/M04/0E/05/SpQEAFlwfvaAdLDqAEt7IT6xt4U682.mp3</string>
<key>singer</key>
<string>梁博</string>
<key>songId</key>
<string>0edf5185-72a2-11e7-aafa-f45c8991f5ab</string>
<key>songName</key>
<string>一往深情</string>
</dict>
<dict>
<key>duration</key>
<string>276000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170209/20170209141756782.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/148aa84fd668ccc9ebb4fc54fbd0bdb6/597979ec/G106/M09/04/05/qg0DAFl1v9SAAbe_AEOD9pNqVJk189.mp3</string>
<key>singer</key>
<string>高夫</string>
<key>songId</key>
<string>0f27777a-72a2-11e7-bbbc-f45c8991f5ab</string>
<key>songName</key>
<string>我在炊烟升起的地方等你</string>
</dict>
<dict>
<key>duration</key>
<string>254000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160429/20160429120531661.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/2bbbf92107fa4cc2be294bd0457a4cdf/59797512/G109/M04/14/15/rQ0DAFl4b4OAQ0bxAD4QLRElLNc457.mp3</string>
<key>singer</key>
<string>张赫宣</string>
<key>songId</key>
<string>0f3cd7ae-72a2-11e7-9335-f45c8991f5ab</string>
<key>songName</key>
<string>我说兄弟啊</string>
</dict>
<dict>
<key>duration</key>
<string>214000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170616/20170616143526902.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/11aa988f12f72dce0cc4746b38c2e85d/597979ed/G105/M0A/01/11/CYcBAFl2_HKAJPncADRwX_FrsWc021.mp3</string>
<key>singer</key>
<string>神马乐团</string>
<key>songId</key>
<string>0f699c42-72a2-11e7-9201-f45c8991f5ab</string>
<key>songName</key>
<string>下一站是你</string>
</dict>
<dict>
<key>duration</key>
<string>278000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160418/20160418100511385.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/a57818f9efa200f2065202d00f74b13b/59796efa/G112/M0A/1E/13/UJQEAFlnOt2ANSaiAEP7uxuVLDY209.mp3</string>
<key>singer</key>
<string>蔡健雅</string>
<key>songId</key>
<string>0f8d1011-72a2-11e7-88bb-f45c8991f5ab</string>
<key>songName</key>
<string>紫</string>
</dict>
<dict>
<key>duration</key>
<string>222000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170608/20170608192745955.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/680dde266c6d1d77eb392377d4b16cc7/597970ee/G104/M03/08/14/CIcBAFl1v6uAYItDADZya4WY9uQ293.mp3</string>
<key>singer</key>
<string>熊梓淇</string>
<key>songId</key>
<string>0fa2298f-72a2-11e7-a769-f45c8991f5ab</string>
<key>songName</key>
<string>就这样大声呐喊吧</string>
</dict>
<dict>
<key>duration</key>
<string>247000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170323/20170323120907591210.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/a4f842c906cea32030be1469b0b5035f/59796d4d/G110/M09/13/14/DocBAFl3J2CAV3saADyGfgq5aDU612.mp3</string>
<key>singer</key>
<string>海鸣威</string>
<key>songId</key>
<string>0fb71647-72a2-11e7-9dc2-f45c8991f5ab</string>
<key>songName</key>
<string>没有永远</string>
</dict>
<dict>
<key>duration</key>
<string>253000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170526/20170526095031553.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/840179ee4e4a663acfb8354419804ff2/597979ee/G105/M06/03/0D/SZQEAFlkJtOAZ1QmAD3uL6-vN_0551.mp3</string>
<key>singer</key>
<string>周笔畅</string>
<key>songId</key>
<string>0fe3abe1-72a2-11e7-bb3f-f45c8991f5ab</string>
<key>songName</key>
<string>用尽我的一切奔向你</string>
</dict>
<dict>
<key>duration</key>
<string>246000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170105/20170105123749140115.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/be84496e34979f063b13550ad5154b94/5979764c/G092/M09/06/14/PJQEAFlob3mAFVJGADwtr_4WzJI257.mp3</string>
<key>singer</key>
<string>郁可唯</string>
<key>songId</key>
<string>1007ad91-72a2-11e7-97c3-f45c8991f5ab</string>
<key>songName</key>
<string>诛心泪</string>
</dict>
<dict>
<key>duration</key>
<string>162000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160920/20160920231707775.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/4d989d148eb4d021eed69fedb153708a/59796e93/G112/M08/0A/11/UJQEAFlwnZiAca6BACerfIcIZsc981.mp3</string>
<key>singer</key>
<string>Charli XCX</string>
<key>songId</key>
<string>1024fe19-72a2-11e7-b4eb-f45c8991f5ab</string>
<key>songName</key>
<string>Boys</string>
</dict>
<dict>
<key>duration</key>
<string>190000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170103/20170103172154556.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/4990159d14c9491ed2b828958262d547/59797884/G103/M0A/18/00/R5QEAFlwygeAdSQQAC6CB0bckUo871.mp3</string>
<key>singer</key>
<string>Digital Farm Animals</string>
<key>songId</key>
<string>104307de-72a2-11e7-847a-f45c8991f5ab</string>
<key>songName</key>
<string>Back to You</string>
</dict>
<dict>
<key>duration</key>
<string>223000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20150430/20150430112243660105.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/9234c0fb8daf6bd89f63b85fa7908817/597979ee/G110/M08/08/13/TpQEAFlxwb2AFKGzADZ-HC6q2mk166.mp3</string>
<key>singer</key>
<string>X Ambassadors</string>
<key>songId</key>
<string>105a308a-72a2-11e7-9eac-f45c8991f5ab</string>
<key>songName</key>
<string>Ahead of Myself</string>
</dict>
<dict>
<key>duration</key>
<string>186000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170720/20170720161303933.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/33041688e8fd119c4f8b4726528fcf1a/597979ef/G094/M00/0B/07/_oYBAFlnObCAZkVOAC1zAmMfUII267.mp3</string>
<key>singer</key>
<string>Gucci Mane</string>
<key>songId</key>
<string>1071e46e-72a2-11e7-ab41-f45c8991f5ab</string>
<key>songName</key>
<string>Fetish</string>
</dict>
<dict>
<key>duration</key>
<string>196000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170707/20170707124007987.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/ab95f37a42cce1ce4b4ccc681f33e39b/5979709f/G103/M02/12/01/pw0DAFlnmbWAcQ_UAC_v__OMoqg422.mp3</string>
<key>singer</key>
<string>The Dap-Kings Horns</string>
<key>songId</key>
<string>1098d702-72a2-11e7-88df-f45c8991f5ab</string>
<key>songName</key>
<string>Woman</string>
</dict>
<dict>
<key>duration</key>
<string>201000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161123/20161123154812538305.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/faf2fedbbd5ae6805ddb598876fffefa/597972ba/G110/M00/1A/10/rg0DAFlnl0eAIPxdADEl8mKZeEQ290.mp3</string>
<key>singer</key>
<string>Seeb</string>
<key>songId</key>
<string>10ad2bd1-72a2-11e7-8c02-f45c8991f5ab</string>
<key>songName</key>
<string>Rich Love</string>
</dict>
<dict>
<key>duration</key>
<string>239000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170316/20170316182005449.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/487dd7653d77d6ae5cdf82f19bcfb413/597970a0/G093/M07/00/19/_YYBAFlnlUqANpJuADqbWFDDEUs300.mp3</string>
<key>singer</key>
<string>Gavin James</string>
<key>songId</key>
<string>10d1af5c-72a2-11e7-b1e6-f45c8991f5ab</string>
<key>songName</key>
<string>Tired - Kygo Remix</string>
</dict>
<dict>
<key>duration</key>
<string>277000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161123/20161123145446371871.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/cf948c66db63f1cfe1daf4a3d1528a23/597970a0/G094/M0A/1D/18/ng0DAFloNxOARsbZAEOgEVIGnKk960.mp3</string>
<key>singer</key>
<string>Big Sean</string>
<key>songId</key>
<string>10fd1b75-72a2-11e7-b46c-f45c8991f5ab</string>
<key>songName</key>
<string>Miracles - Someone Special</string>
</dict>
<dict>
<key>duration</key>
<string>209000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20140519/20140519180313244744.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/633a6d6de2d3b7314e514d533ca25ea3/597970a2/G112/M0B/0D/10/UJQEAFlnnpuAT4yOADMennJsxL4430.mp3</string>
<key>singer</key>
<string>The Script</string>
<key>songId</key>
<string>1111a985-72a2-11e7-8b90-f45c8991f5ab</string>
<key>songName</key>
<string>Rain</string>
</dict>
<dict>
<key>duration</key>
<string>171000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20150305/20150305164900177750.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/cf26f8807eab1b81f36708080c5bd0df/59796d6f/G100/M09/12/11/BIcBAFkDa_2AQRowACnMlKdRiz8887.mp3</string>
<key>singer</key>
<string>Kid Ink</string>
<key>songId</key>
<string>1121046b-72a2-11e7-864e-f45c8991f5ab</string>
<key>songName</key>
<string>I Love You - Chace Remix</string>
</dict>
<dict>
<key>duration</key>
<string>203000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160919/20160919175742221.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/e31e5ced110f510b3580851a9ad1dcac/59796d6f/G108/M06/0C/09/TJQEAFll9FCAbvnnADHCrlmo1xU755.mp3</string>
<key>singer</key>
<string>Demi Lovato</string>
<key>songId</key>
<string>113a1417-72a2-11e7-b555-f45c8991f5ab</string>
<key>songName</key>
<string>Sorry Not Sorry</string>
</dict>
<dict>
<key>duration</key>
<string>258000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20131216/20131216180102817717.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/e99c8d98756fb3384caf42781e6cf4a7/59796d6f/G111/M08/09/03/T5QEAFk6CPCAVS9RAD7zYQsvuoA226.mp3</string>
<key>singer</key>
<string>London Grammar</string>
<key>songId</key>
<string>1158f945-72a2-11e7-85d4-f45c8991f5ab</string>
<key>songName</key>
<string>Non Believer</string>
</dict>
<dict>
<key>duration</key>
<string>209000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20140823/20140823214258549970.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/3b298b0017b6efe2e592bd343adbffd5/5979722c/G104/M07/1C/01/qA0DAFloLWmACUYsADMfv9hVnkU224.mp3</string>
<key>singer</key>
<string>Echosmith</string>
<key>songId</key>
<string>1186eb6b-72a2-11e7-b4fc-f45c8991f5ab</string>
<key>songName</key>
<string>Goodbye</string>
</dict>
<dict>
<key>duration</key>
<string>243000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20120808/20120808163842547321.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/68be5b9fc71452849a4f5a92a33d24a6/597970a9/G094/M03/1C/17/PpQEAFlobu-AQKmHADtg46hStBc511.mp3</string>
<key>singer</key>
<string>Foster the People</string>
<key>songId</key>
<string>119b7880-72a2-11e7-841c-f45c8991f5ab</string>
<key>songName</key>
<string>Sit Next to Me</string>
</dict>
<dict>
<key>duration</key>
<string>231000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20151106/20151106162353848667.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/573f51f30aefbb11654006ba39afbd4b/597979f1/G092/M0A/1B/01/nA0DAFloaFeAI40AADh9IasInOg395.mp3</string>
<key>singer</key>
<string>ROZES</string>
<key>songId</key>
<string>11c50617-72a2-11e7-8d32-f45c8991f5ab</string>
<key>songName</key>
<string>Canyons</string>
</dict>
<dict>
<key>duration</key>
<string>195000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20150408/20150408172438432255.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/07e1892365111f624e26409e28dfffd1/597979f1/G105/M03/1E/0B/CYcBAFljpUOADGKqAC9_SKistCM136.mp3</string>
<key>singer</key>
<string>AlunaGeorge</string>
<key>songId</key>
<string>11dc1c7a-72a2-11e7-b51b-f45c8991f5ab</string>
<key>songName</key>
<string>Last Kiss</string>
</dict>
<dict>
<key>duration</key>
<string>230000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170707/20170707124007987.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/80a84dda40386b82b6f388051d8b1bd2/59796d80/G104/M06/0B/01/CIcBAFlezw2AYxrsADg_ROZU8rs148.mp3</string>
<key>singer</key>
<string>Kesha</string>
<key>songId</key>
<string>11fbd01c-72a2-11e7-a9b2-f45c8991f5ab</string>
<key>songName</key>
<string>Praying</string>
</dict>
<dict>
<key>duration</key>
<string>204000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170228/20170228130159106.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/e874695f34d1d161b3c3a82807c2d823/597978ac/G104/M0A/12/01/SJQEAFlearWASa0cADH4aW6A69A874.mp3</string>
<key>singer</key>
<string>Liam Payne</string>
<key>songId</key>
<string>120ced51-72a2-11e7-b229-f45c8991f5ab</string>
<key>songName</key>
<string>Get Low</string>
</dict>
<dict>
<key>duration</key>
<string>282000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161123/20161123145446371871.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/aaa5ad32a55b46d31635bc0816c18bbe/597970af/G114/M01/0C/01/EocBAFle7YqAWQ4lAET35gisALA646.mp3</string>
<key>singer</key>
<string>Coldplay</string>
<key>songId</key>
<string>12232366-72a2-11e7-9661-f45c8991f5ab</string>
<key>songName</key>
<string>A L I E N S</string>
</dict>
<dict>
<key>duration</key>
<string>251000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20140217/20140217173849111339.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/0e29ae0f2d67db13ffa9445dd83f96dc/597970af/G114/M06/10/1B/EocBAFlfOTyAOZOcAD1jLsqM6mU983.mp3</string>
<key>singer</key>
<string>Beyoncé</string>
<key>songId</key>
<string>12385768-72a2-11e7-bd2d-f45c8991f5ab</string>
<key>songName</key>
<string>Family Feud</string>
</dict>
<dict>
<key>duration</key>
<string>196000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161012/20161012145742575.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/e3796ef4ace8b75c8cecb3060d4d9802/597979f2/G104/M02/0B/17/CIcBAFleizuAe8jpAC_lt5Jw2pw707.mp3</string>
<key>singer</key>
<string>Pharrell Williams</string>
<key>songId</key>
<string>125ce3c7-72a2-11e7-b7f1-f45c8991f5ab</string>
<key>songName</key>
<string>Bring Dem Things</string>
</dict>
<dict>
<key>duration</key>
<string>183000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20151219/20151219102528368.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/ec701dfffe230b522c345aca0c76911b/597979f2/G113/M05/03/08/UZQEAFlfKl6AbRy6ACztIblKn74743.mp3</string>
<key>singer</key>
<string>The All-American Rejects</string>
<key>songId</key>
<string>1272472b-72a2-11e7-8f0d-f45c8991f5ab</string>
<key>songName</key>
<string>Sweat</string>
</dict>
<dict>
<key>duration</key>
<string>219000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170704/20170704194248962.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/feb0de15ca7c27ec8e866e3a36a9990a/597971bf/G092/M04/1F/15/nA0DAFlojNiAA3oAADWlN8EfsTE418.mp3</string>
<key>singer</key>
<string>叶炫清</string>
<key>songId</key>
<string>128b46c0-72a2-11e7-b843-f45c8991f5ab</string>
<key>songName</key>
<string>从前慢 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>177000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170518/20170518003547365.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/56f94b4ee36684e983b25bbd37157629/59796c68/G114/M08/1A/1F/UpQEAFltgDmAGFOkACtrt28vIac649.mp3</string>
<key>singer</key>
<string>周杰伦</string>
<key>songId</key>
<string>12ae32dc-72a2-11e7-9500-f45c8991f5ab</string>
<key>songName</key>
<string>沧海一声笑 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>163000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170119/20170119105146606.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/f6ab1be280cd04b57efa7cae86d15bd8/597979f3/G090/M04/17/1F/OpQEAFltgAyAONGOACftt9foQSo505.mp3</string>
<key>singer</key>
<string>陈奕迅</string>
<key>songId</key>
<string>12dd7133-72a2-11e7-8ee5-f45c8991f5ab</string>
<key>songName</key>
<string>谢谢老斑鸠 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>254000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20151219/20151219145726640.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/0a452dd8d8f473c322d5d02f3aef7829/597971ed/G106/M0B/17/09/qg0DAFlojO6AfzyAAD4Wt58mjTM394.mp3</string>
<key>singer</key>
<string>朱文婷</string>
<key>songId</key>
<string>12fbd135-72a2-11e7-8167-f45c8991f5ab</string>
<key>songName</key>
<string>淘汰 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>167000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170119/20170119105146606.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/407e7bbdfcedc6cf0e9b81e59d107150/597979f3/G104/M00/17/09/qA0DAFltgAKAeLKJACjiN6_ZmK4364.mp3</string>
<key>singer</key>
<string>刘欢</string>
<key>songId</key>
<string>1328abe6-72a2-11e7-930d-f45c8991f5ab</string>
<key>songName</key>
<string>一笑而过的背包 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>202000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160711/20160711151037573639.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/cdbb3881d978c9139dcbcc651f67eef2/597979e0/G096/M07/15/08/oA0DAFltgCmAcdEUADFYN9kUC5o021.mp3</string>
<key>singer</key>
<string>周杰伦</string>
<key>songId</key>
<string>1352d9d7-72a2-11e7-83b0-f45c8991f5ab</string>
<key>songName</key>
<string>因为爱情 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>144000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160711/20160711151037573639.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/e154676450aee3970b61f1941ca6dbd8/5979769e/G095/M07/0C/03/P5QEAFltgDKAUe5mACMut9wagAY489.mp3</string>
<key>singer</key>
<string>陈奕迅</string>
<key>songId</key>
<string>137ca782-72a2-11e7-a190-f45c8991f5ab</string>
<key>songName</key>
<string>天地在我心 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>203000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170714/20170714151924468.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/16917e2a0bc2224f1d965e46dc6da87c/5979769e/G095/M00/16/14/nw0DAFlojPqAT_3WADG7OCHb1GE199.mp3</string>
<key>singer</key>
<string>次仁拉吉</string>
<key>songId</key>
<string>13a6e966-72a2-11e7-8a6a-f45c8991f5ab</string>
<key>songName</key>
<string>穷开心 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>170000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20140616/20140616184447305522.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/ada5340990d53e1c1884bf23cbecb715/597979f4/G109/M00/1C/13/DYcBAFltf_aAVKisACmZN2mC54k660.mp3</string>
<key>singer</key>
<string>陈奕迅</string>
<key>songId</key>
<string>13d8af51-72a2-11e7-8be9-f45c8991f5ab</string>
<key>songName</key>
<string>菊花台 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>196000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170714/20170714153709878.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/634ec63f695925f4f7ea62dcdfb34836/59797391/G113/M0A/1C/08/sQ0DAFlojOSALsl0ADAFOM8Kq-M736.mp3</string>
<key>singer</key>
<string>张泽</string>
<key>songId</key>
<string>13f6d430-72a2-11e7-a46a-f45c8991f5ab</string>
<key>songName</key>
<string>天气这么热 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>245000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170714/20170714152303823.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/3b901ff9b82d0b48dcbc4828e6944316/59797340/G097/M00/05/14/QZQEAFlojRKAM23XADvkOBz8TNc698.mp3</string>
<key>singer</key>
<string>董姿彦</string>
<key>songId</key>
<string>141cb917-72a2-11e7-a175-f45c8991f5ab</string>
<key>songName</key>
<string>恋曲1990 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>230000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170714/20170714152642869.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/9af91a6dee2dc00a9ac1bd02e3daeeac/597979f5/G093/M07/13/1B/_YYBAFlojQaAFA-CADg2ODqYO-c731.mp3</string>
<key>singer</key>
<string>符荣鹏</string>
<key>songId</key>
<string>14323ea1-72a2-11e7-9558-f45c8991f5ab</string>
<key>songName</key>
<string>无条件 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>142000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20140616/20140616184447305522.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/2ae266e2e354082b1c0da1d0ce94cee9/5979769e/G105/M0A/14/1D/CYcBAFltf-2AEv7yACLfN0TmBhk100.mp3</string>
<key>singer</key>
<string>那英</string>
<key>songId</key>
<string>1441e68f-72a2-11e7-8152-f45c8991f5ab</string>
<key>songName</key>
<string>过把瘾 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>244000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170721/20170721161027963.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/3302b7ce953c8819e1544111eb66deaa/597979f5/G109/M09/14/18/TZQEAFlx5NiAZ4uZADuuN1pbaI4433.mp3</string>
<key>singer</key>
<string>川虎</string>
<key>songId</key>
<string>1466a302-72a2-11e7-8669-f45c8991f5ab</string>
<key>songName</key>
<string>我要你 - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>238000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170721/20170721164155588.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/0d2867f62ed203f631509e2022383642/59797605/G110/M08/12/15/TpQEAFlx5NiAefIGADomt0fiQaY906.mp3</string>
<key>singer</key>
<string>胡斯默</string>
<key>songId</key>
<string>1490fdd1-72a2-11e7-9836-f45c8991f5ab</string>
<key>songName</key>
<string>三月 - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>208000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170721/20170721154018959.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/435d6dfd1543f97fa0df98ee304f54b0/5979733f/G104/M01/09/11/SJQEAFlx5NiAfW2HADLkN0KrMpI960.mp3</string>
<key>singer</key>
<string>叶晓粤</string>
<key>songId</key>
<string>14bed7b5-72a2-11e7-9bfd-f45c8991f5ab</string>
<key>songName</key>
<string>闷 - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>265000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170721/20170721152858299.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/b4437b37df708528bb30596545c595ff/59797860/G104/M06/07/0F/CIcBAFlx5NmAG-QtAEDZP8hscr8087.mp3</string>
<key>singer</key>
<string>扎西平措</string>
<key>songId</key>
<string>14e8ced7-72a2-11e7-8604-f45c8991f5ab</string>
<key>songName</key>
<string>一面湖水 - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>263000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161201/20161201143425368.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/20a6bf4714325022c9d6fa5dec185d1f/5979769f/G109/M02/0B/19/TZQEAFlyER2AMQkbAEBVfvUCpD0987.mp3</string>
<key>singer</key>
<string>子子</string>
<key>songId</key>
<string>150818c2-72a2-11e7-9f8b-f45c8991f5ab</string>
<key>songName</key>
<string>Careless Whisper - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>241000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170721/20170721155109703.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/6020959a4b3919f597b08d969bff5f53/597979f7/G112/M04/1D/13/UJQEAFlyEK6APpFZADruNWT55pE255.mp3</string>
<key>singer</key>
<string>于梓贝</string>
<key>songId</key>
<string>15343b00-72a2-11e7-8264-f45c8991f5ab</string>
<key>songName</key>
<string>模特 - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>243000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170721/20170721161639445.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/73580cae1e8c510e083182f5c8dd7b5a/5979769f/G103/M09/06/18/B4cBAFlyHouAWuVRADtiKsGPQjU323.mp3</string>
<key>singer</key>
<string>王振诺</string>
<key>songId</key>
<string>15534873-72a2-11e7-a03f-f45c8991f5ab</string>
<key>songName</key>
<string>别说没爱过 - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>213000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170721/20170721162506795.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/dc5b98742adb94fb396a1cdd1bb37027/59796fd6/G103/M05/06/01/R5QEAFl1YzyAFtHaADQjtSGJiFg708.mp3</string>
<key>singer</key>
<string>菲林乐洋</string>
<key>songId</key>
<string>1567aa1c-72a2-11e7-b37f-f45c8991f5ab</string>
<key>songName</key>
<string>告白气球 - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>229000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170722/20170722003201183.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/ba49737108850ee5062b3aad21b7063b/59797026/G107/M08/10/1B/qw0DAFl1Yz2APDi6ADgXW38_LKk552.mp3</string>
<key>singer</key>
<string>张美仪</string>
<key>songId</key>
<string>15923e26-72a2-11e7-9f5a-f45c8991f5ab</string>
<key>songName</key>
<string>想和你去吹吹风 - 2017中国新歌声第二季第二期现场</string>
</dict>
</array>
</plist>