<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>duration</key>
<string>333000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170109/20170109150710384221.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/fdebeb5cdbc541784577e6d7c9311414/597b416e/G083/M08/0E/04/kw0DAFhvcJSAAX3SAFFchlFbaO8093.mp3</string>
<key>singer</key>
<string>张碧晨</string>
<key>songId</key>
<string>82b70ede-73bd-11e7-9acd-f45c8991f5ab</string>
<key>songName</key>
<string>凉凉</string>
</dict>
<dict>
<key>duration</key>
<string>328000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170205/20170205183509587.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/58b101ddfc7e24f03d477d990f321ab8/597b41e1/G085/M04/04/19/lQ0DAFh_OnOAEvaeAFAaxR3PVO4400.mp3</string>
<key>singer</key>
<string>赵雷</string>
<key>songId</key>
<string>82be014c-73bd-11e7-b0fc-f45c8991f5ab</string>
<key>songName</key>
<string>成都</string>
</dict>
<dict>
<key>duration</key>
<string>199000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20140304/20140304154338526832.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/949f206b21f0e9404436044c0018ff78/597b35f8/G078/M08/18/17/jg0DAFgi6G-AKqsqADDP_nSW5F4051.mp3</string>
<key>singer</key>
<string>李玉刚</string>
<key>songId</key>
<string>82c30cab-73bd-11e7-95b0-f45c8991f5ab</string>
<key>songName</key>
<string>刚好遇见你</string>
</dict>
<dict>
<key>duration</key>
<string>235000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160926/20160926153722236.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/95b939e5216729a9abaad64fc7b1c32c/597b468f/G108/M03/0C/01/rA0DAFk_VuiALN9DADmXB0zHYTA058.mp3</string>
<key>singer</key>
<string>岑宁儿</string>
<key>songId</key>
<string>82c82930-73bd-11e7-87e5-f45c8991f5ab</string>
<key>songName</key>
<string>追光者</string>
</dict>
<dict>
<key>duration</key>
<string>213000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170316/20170316182005449.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/2bc50c43124ac580baeb67b50ffe1b60/597b416f/G052/M04/19/07/FJQEAFZWxMSAbdi-ADPyIZwJRM0272.mp3</string>
<key>singer</key>
<string>Alan Walker</string>
<key>songId</key>
<string>82cda6b3-73bd-11e7-8871-f45c8991f5ab</string>
<key>songName</key>
<string>Faded</string>
</dict>
<dict>
<key>duration</key>
<string>216000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170119/20170119105146606.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/87e0d267f1428527b867a07474d9333c/597b3b57/G059/M02/17/1D/ew0DAFdr9KmAf5GnADSkTnjFCm0437.mp3</string>
<key>singer</key>
<string>周杰伦</string>
<key>songId</key>
<string>82d30e68-73bd-11e7-982e-f45c8991f5ab</string>
<key>songName</key>
<string>告白气球</string>
</dict>
<dict>
<key>duration</key>
<string>312000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170616/20170616143526902.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/749a8740cfaf5ffa013536869adb73c3/597b3a6f/G077/M00/0B/01/LZQEAFgwNPKARhv_AExq2zIsMME471.mp3</string>
<key>singer</key>
<string>神马乐团</string>
<key>songId</key>
<string>82d8f7b0-73bd-11e7-90cd-f45c8991f5ab</string>
<key>songName</key>
<string>爱河</string>
</dict>
<dict>
<key>duration</key>
<string>261000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170713/20170713161536456.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/3067c1c57257f7cf803a15c43d6e99ca/597b4245/G018/M00/0A/04/Ug0DAFVw-LCAYoUkAD_FoLiLEPc990.mp3</string>
<key>singer</key>
<string>薛之谦</string>
<key>songId</key>
<string>82dde233-73bd-11e7-9694-f45c8991f5ab</string>
<key>songName</key>
<string>演员</string>
</dict>
<dict>
<key>duration</key>
<string>264000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170711/20170711160049223.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/07b020b29c850207d788ad685d978ec0/597b3c11/G113/M0B/0D/03/UZQEAFlZkpSAPlBNAEB5I-PqefM924.mp3</string>
<key>singer</key>
<string>TFBOYS</string>
<key>songId</key>
<string>82e2baca-73bd-11e7-bbd9-f45c8991f5ab</string>
<key>songName</key>
<string>加油!AMIGO</string>
</dict>
<dict>
<key>duration</key>
<string>312000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170713/20170713161536456.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/efe5712f4045e0d827cbdfbf1f162830/597b4880/G100/M07/05/0F/pA0DAFjrZL-AIwSDAEw1sU-h2zs456.mp3</string>
<key>singer</key>
<string>薛之谦</string>
<key>songId</key>
<string>82e7fefd-73bd-11e7-85bc-f45c8991f5ab</string>
<key>songName</key>
<string>暧昧</string>
</dict>
<dict>
<key>duration</key>
<string>220000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170704/20170704194248962.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/d4d20134286955b30f8f73b69847ea0a/597b419b/G108/M01/15/03/DIcBAFlbO-eAa9hXADZx9OnlrcU598.mp3</string>
<key>singer</key>
<string>叶炫清</string>
<key>songId</key>
<string>82ed7257-73bd-11e7-9b72-f45c8991f5ab</string>
<key>songName</key>
<string>九张机</string>
</dict>
<dict>
<key>duration</key>
<string>253000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170713/20170713161536456.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/c0ea65e56034fccc4d328a9e478d5ea6/597b41b7/G009/M02/06/15/SQ0DAFUJf-KAa_LnAD3gDgbvu7o702.mp3</string>
<key>singer</key>
<string>薛之谦</string>
<key>songId</key>
<string>82f2945e-73bd-11e7-be3b-f45c8991f5ab</string>
<key>songName</key>
<string>丑八怪</string>
</dict>
<dict>
<key>duration</key>
<string>253000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170609/20170609173634311.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/cb5e9ee3e559315ab71a41777af526a1/597b4743/G027/M04/05/13/Ww0DAFWeMRuAS1HIAD3r6i-KjiE901.mp3</string>
<key>singer</key>
<string>陈雅森</string>
<key>songId</key>
<string>82f7e08a-73bd-11e7-988f-f45c8991f5ab</string>
<key>songName</key>
<string>温柔乡</string>
</dict>
<dict>
<key>duration</key>
<string>125000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161125/20161125213630101.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/2588656afcc3bb3cc8a43e849cf3ac16/597b4613/G014/M0B/18/1F/roYBAFUPcU-ARySKAB6UkcwIEo0179.mp3</string>
<key>singer</key>
<string>金南玲</string>
<key>songId</key>
<string>82fcf619-73bd-11e7-84fd-f45c8991f5ab</string>
<key>songName</key>
<string>逆流成河</string>
</dict>
<dict>
<key>duration</key>
<string>310000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170713/20170713161536456.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/6bc8bfd7b24d6dad94b83e2c8eeb2d2c/597b44b2/G014/M01/0D/13/roYBAFUJf-aAAH3yAEvEgNLBpE0455.mp3</string>
<key>singer</key>
<string>薛之谦</string>
<key>songId</key>
<string>830280cf-73bd-11e7-ba5d-f45c8991f5ab</string>
<key>songName</key>
<string>你还要我怎样</string>
</dict>
<dict>
<key>duration</key>
<string>235000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170314/20170314110703108.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/fbd684915153d77f7aa5d360ffe5e5d4/597b3f2f/G101/M01/1B/05/pQ0DAFkBvf6ANDmyADmYW7SDtdo560.mp3</string>
<key>singer</key>
<string>徐佳莹</string>
<key>songId</key>
<string>830c68f0-73bd-11e7-b22c-f45c8991f5ab</string>
<key>songName</key>
<string>远走高飞</string>
</dict>
<dict>
<key>duration</key>
<string>249000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20151209/20151209155647895139.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/c3ca071e30c861f16d9623fadb666a31/597b4882/G008/M01/1C/18/SA0DAFULOMWAPUxPADzlTddWQKQ368.mp3</string>
<key>singer</key>
<string>萧全</string>
<key>songId</key>
<string>83122dab-73bd-11e7-a636-f45c8991f5ab</string>
<key>songName</key>
<string>社会摇</string>
</dict>
<dict>
<key>duration</key>
<string>191000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170712/20170712163421624.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/caec51ece596bddd74b150bf54049589/597b4072/G045/M08/0E/10/bQ0DAFYAup6AAb4zAC6_VySKiK8411.mp3</string>
<key>singer</key>
<string>鹿晗</string>
<key>songId</key>
<string>831702c5-73bd-11e7-9f0f-f45c8991f5ab</string>
<key>songName</key>
<string>致爱 Your Song</string>
</dict>
<dict>
<key>duration</key>
<string>257000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161222/20161222154900283.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/1491da08d45b9be04034eaedc30ec958/597b4248/G068/M05/1A/0B/JJQEAFfu7uGAE019AD7-JN0tKNU828.mp3</string>
<key>singer</key>
<string>陈一发儿</string>
<key>songId</key>
<string>831be797-73bd-11e7-b995-f45c8991f5ab</string>
<key>songName</key>
<string>童话镇</string>
</dict>
<dict>
<key>duration</key>
<string>211000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170101/20170101005922562.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/7504ad26aa6d66f59df60414c0d82ed2/597b431b/G012/M02/1D/00/rIYBAFULdtqABXc6ADOdDs7zAQA543.mp3</string>
<key>singer</key>
<string>筷子兄弟</string>
<key>songId</key>
<string>8320eeb0-73bd-11e7-9eeb-f45c8991f5ab</string>
<key>songName</key>
<string>小苹果</string>
</dict>
<dict>
<key>duration</key>
<string>248000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170713/20170713161536456.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/f33262dbd620e0d74ccbb4ac05d1ef06/597b471b/G097/M0A/16/11/AYcBAFj95NKAI8w9ADy2gsdV1Qc054.mp3</string>
<key>singer</key>
<string>薛之谦</string>
<key>songId</key>
<string>83259340-73bd-11e7-a246-f45c8991f5ab</string>
<key>songName</key>
<string>我害怕</string>
</dict>
<dict>
<key>duration</key>
<string>269000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170707/20170707175607679.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/3427bfe92d4d4901d446be85c29d11c7/597b4883/G114/M04/15/13/EocBAFlgLXWAXM9FAEHTTrPxLgQ471.mp3</string>
<key>singer</key>
<string>王源</string>
<key>songId</key>
<string>8331ed99-73bd-11e7-9ecc-f45c8991f5ab</string>
<key>songName</key>
<string>阳光不锈</string>
</dict>
<dict>
<key>duration</key>
<string>283000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160711/20160711151037573639.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/d0132f80db77f71e796d5ffb6dcac944/597b3c80/G114/M06/12/05/EocBAFlxz06AYrxeAEU7KfbxQaU295.mp3</string>
<key>singer</key>
<string>那英</string>
<key>songId</key>
<string>83376763-73bd-11e7-9f37-f45c8991f5ab</string>
<key>songName</key>
<string>三生三世十里桃花</string>
</dict>
<dict>
<key>duration</key>
<string>258000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160627/20160627192009955066.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/2505ea06d3273fcbb2239b112d65c7d5/597b43be/G106/M07/0A/0B/CocBAFl5vbqATuHmAD8tpGWSa9s358.mp3</string>
<key>singer</key>
<string>萧亚轩</string>
<key>songId</key>
<string>833cd5b3-73bd-11e7-9b9a-f45c8991f5ab</string>
<key>songName</key>
<string>明天的秘密</string>
</dict>
<dict>
<key>duration</key>
<string>270000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170602/20170602184400518.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/5535f3bc28a42f380ba88aa68f8cc478/597b3e12/G109/M00/1F/13/DYcBAFl5ve2AC3qbAEIoMJ63a30822.mp3</string>
<key>singer</key>
<string>许佳慧</string>
<key>songId</key>
<string>83424bab-73bd-11e7-b2dd-f45c8991f5ab</string>
<key>songName</key>
<string>破鞋子</string>
</dict>
<dict>
<key>duration</key>
<string>290000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170628/20170628110356447.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/e68cc7eca67542ed098437bcd7cffc1c/597b4813/G110/M07/06/0F/DocBAFli7UCAZgkIAEayL9AUOoE931.mp3</string>
<key>singer</key>
<string>张靓颖</string>
<key>songId</key>
<string>8347433d-73bd-11e7-b4cf-f45c8991f5ab</string>
<key>songName</key>
<string>玲珑</string>
</dict>
<dict>
<key>duration</key>
<string>257000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170727/20170727130249963.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/814efdfd7f630ad3d22441a852f01d98/597b425e/G109/M02/18/19/rQ0DAFl4O-GAQ57dAD7PDK5wwVg809.mp3</string>
<key>singer</key>
<string>SING女团</string>
<key>songId</key>
<string>834d2702-73bd-11e7-b71a-f45c8991f5ab</string>
<key>songName</key>
<string>123木头人</string>
</dict>
<dict>
<key>duration</key>
<string>230000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160525/20160525165853292078.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/988a74166767bd2c05be99a19ee482bf/597b4754/G104/M04/16/0D/SJQEAFl4ZpCAGc3BADgzpk6uJwk487.mp3</string>
<key>singer</key>
<string>杨培安</string>
<key>songId</key>
<string>8351d98a-73bd-11e7-b918-f45c8991f5ab</string>
<key>songName</key>
<string>生死相随</string>
</dict>
<dict>
<key>duration</key>
<string>240000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170221/20170221154248275887.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/40d4bc71b6873b7a39ad882678261a99/597b3dd7/G103/M01/02/05/B4cBAFl4UPSAHzCrADqgL7Nr80I493.mp3</string>
<key>singer</key>
<string>孙露</string>
<key>songId</key>
<string>83578b47-73bd-11e7-940c-f45c8991f5ab</string>
<key>songName</key>
<string>美人脸</string>
</dict>
<dict>
<key>duration</key>
<string>122000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170724/20170724150212668.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/14f8e2bfe87f91f657d6d64ae70e9094/597b3def/G105/M07/00/0D/qQ0DAFl1lziAOm3VAB3Tfui02Ok518.mp3</string>
<key>singer</key>
<string>黄晓明</string>
<key>songId</key>
<string>835e674c-73bd-11e7-8a22-f45c8991f5ab</string>
<key>songName</key>
<string>中餐厅</string>
</dict>
<dict>
<key>duration</key>
<string>112000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170112/20170112121136276.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/a1f1cfd1a2dcaa30e69d2d95cb78af60/597b44eb/G107/M08/0A/1B/qw0DAFl4xAOAbcXGABthoFu8cyY912.mp3</string>
<key>singer</key>
<string>马念先</string>
<key>songId</key>
<string>836411ba-73bd-11e7-a3ba-f45c8991f5ab</string>
<key>songName</key>
<string>胡八一你不要来</string>
</dict>
<dict>
<key>duration</key>
<string>228000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161125/20161125213630101.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/180126bb36f97c6ff9bab8e61ce47f21/597b4885/G091/M07/0C/11/O5QEAFlnOt6ABZc6ADe8r0gIF30017.mp3</string>
<key>singer</key>
<string>金南玲</string>
<key>songId</key>
<string>83690ce3-73bd-11e7-99da-f45c8991f5ab</string>
<key>songName</key>
<string>我不送</string>
</dict>
<dict>
<key>duration</key>
<string>251000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161217/20161217145450173.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/0d7925be6b8b4f6e6d65d6e5ea79430d/597b4885/G105/M00/15/07/qQ0DAFlnmlWAb2xKAD11Lx68vh8698.mp3</string>
<key>singer</key>
<string>尚雯婕</string>
<key>songId</key>
<string>836da6f8-73bd-11e7-ae80-f45c8991f5ab</string>
<key>songName</key>
<string>装甲战争 Armored Warfare</string>
</dict>
<dict>
<key>duration</key>
<string>252000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160418/20160418100508296.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/4e35e40986d00ce454619df42c9c5f7f/597b3ada/G107/M01/05/07/S5QEAFll9duAXRMwAD2tjwRDGuo229.mp3</string>
<key>singer</key>
<string>郑源</string>
<key>songId</key>
<string>8372a9e6-73bd-11e7-a062-f45c8991f5ab</string>
<key>songName</key>
<string>伴</string>
</dict>
<dict>
<key>duration</key>
<string>257000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170602/20170602184400518.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/1fbd343879d117e2ab5bf9ea5e0bd92c/597b3fe1/G104/M06/12/19/qA0DAFlskS2AMOPiAD7LxMpbbF8404.mp3</string>
<key>singer</key>
<string>许佳慧</string>
<key>songId</key>
<string>8379184f-73bd-11e7-9875-f45c8991f5ab</string>
<key>songName</key>
<string>生还者</string>
</dict>
<dict>
<key>duration</key>
<string>244000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161016/20161016234854256.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/33dabe5eca6d04119819f5391a775b57/597b3e14/G107/M08/01/1B/qw0DAFl4QzqALsVTADuYJKv6kiE760.mp3</string>
<key>singer</key>
<string>徐真真</string>
<key>songId</key>
<string>837e1bd1-73bd-11e7-8499-f45c8991f5ab</string>
<key>songName</key>
<string>哪里下的雨都一样</string>
</dict>
<dict>
<key>duration</key>
<string>248000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170417/20170417104320339992.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/3a113442a1b5928a069e211f402fc5c5/597b3d64/G103/M02/14/18/B4cBAFl4Xw2AS980ADzHzT8fc1w014.mp3</string>
<key>singer</key>
<string>蓝琪儿</string>
<key>songId</key>
<string>83833368-73bd-11e7-b0c2-f45c8991f5ab</string>
<key>songName</key>
<string>五星红旗在雪域上飘扬</string>
</dict>
<dict>
<key>duration</key>
<string>225000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20151210/20151210152142271371.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/0c20cbdb436a0308b3b618c78c78982d/597b4515/G105/M03/0D/00/CYcBAFl5vReAAmZ0ADcpf1ZEBAQ961.mp3</string>
<key>singer</key>
<string>权振东</string>
<key>songId</key>
<string>8388ddcc-73bd-11e7-8ad9-f45c8991f5ab</string>
<key>songName</key>
<string>难得</string>
</dict>
<dict>
<key>duration</key>
<string>309000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170404/20170404030359517648.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/99c04dea7e78853a19f72e88aed088b9/597b4442/G106/M04/0E/05/SpQEAFlwfvaAdLDqAEt7IT6xt4U682.mp3</string>
<key>singer</key>
<string>梁博</string>
<key>songId</key>
<string>838d7fe6-73bd-11e7-8b4b-f45c8991f5ab</string>
<key>songName</key>
<string>一往深情</string>
</dict>
<dict>
<key>duration</key>
<string>254000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160429/20160429120531661.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/c0487e1674a685a2d0cc3526037785d8/597b4357/G109/M04/14/15/rQ0DAFl4b4OAQ0bxAD4QLRElLNc457.mp3</string>
<key>singer</key>
<string>张赫宣</string>
<key>songId</key>
<string>83988fb3-73bd-11e7-9cbe-f45c8991f5ab</string>
<key>songName</key>
<string>我说兄弟啊</string>
</dict>
<dict>
<key>duration</key>
<string>276000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170209/20170209141756782.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/e5a214321a619fd9fa948b3659a2b3e2/597b3cef/G106/M09/04/05/qg0DAFl1v9SAAbe_AEOD9pNqVJk189.mp3</string>
<key>singer</key>
<string>高夫</string>
<key>songId</key>
<string>839de259-73bd-11e7-8b05-f45c8991f5ab</string>
<key>songName</key>
<string>我在炊烟升起的地方等你</string>
</dict>
<dict>
<key>duration</key>
<string>214000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170616/20170616143526902.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/6196a6f198986edab9ad0d7d215fa737/597b43fc/G105/M0A/01/11/CYcBAFl2_HKAJPncADRwX_FrsWc021.mp3</string>
<key>singer</key>
<string>神马乐团</string>
<key>songId</key>
<string>83a3f9c5-73bd-11e7-81f6-f45c8991f5ab</string>
<key>songName</key>
<string>下一站是你</string>
</dict>
<dict>
<key>duration</key>
<string>217000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170707/20170707124007987.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/87ca4ad3b538cd8499ac7f49efe075b2/597b4887/G107/M05/13/11/C4cBAFl6DvqAOmreADUA-bykRM8408.mp3</string>
<key>singer</key>
<string>Kesha</string>
<key>songId</key>
<string>83b025f8-73bd-11e7-aade-f45c8991f5ab</string>
<key>songName</key>
<string>Learn To Let Go</string>
</dict>
<dict>
<key>duration</key>
<string>162000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160920/20160920231707775.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/596d274484cb3f1c4c9b8b8fba7300af/597b4888/G112/M08/0A/11/UJQEAFlwnZiAca6BACerfIcIZsc981.mp3</string>
<key>singer</key>
<string>Charli XCX</string>
<key>songId</key>
<string>83b5cafa-73bd-11e7-8d60-f45c8991f5ab</string>
<key>songName</key>
<string>Boys</string>
</dict>
<dict>
<key>duration</key>
<string>184000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160310/20160310141250630905.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/5f6cad6694a59445a495145f6904ec0b/597b4888/G114/M06/05/19/UpQEAFl5_ueAQm3ZACz94i14lbo253.mp3</string>
<key>singer</key>
<string>Kiiara</string>
<key>songId</key>
<string>83bab4ca-73bd-11e7-a770-f45c8991f5ab</string>
<key>songName</key>
<string>Complicated</string>
</dict>
<dict>
<key>duration</key>
<string>241000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20131105/20131105192327642002.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/311b3e09d47fd7bf1e7a411689997338/597b45ed/G114/M0B/0B/05/UpQEAFl53YqAVFxlADruqlXuV1s369.mp3</string>
<key>singer</key>
<string>Nicki Minaj</string>
<key>songId</key>
<string>83c022ca-73bd-11e7-8e89-f45c8991f5ab</string>
<key>songName</key>
<string>You da Baddest</string>
</dict>
<dict>
<key>duration</key>
<string>157000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20131031/20131031145251760694.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/29c19985c2961b75108170d7fd145736/597b4435/G104/M03/12/17/CIcBAFl69a6AUKLMACZ6hLyKA-k438.mp3</string>
<key>singer</key>
<string>Thomas Rhett</string>
<key>songId</key>
<string>83c53bf3-73bd-11e7-a73b-f45c8991f5ab</string>
<key>songName</key>
<string>Unforgettable</string>
</dict>
<dict>
<key>duration</key>
<string>262000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20151123/20151123162635663162.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/3ba4c7d8147f38793a8ab5fa75966dbe/597b3def/G105/M03/1F/1F/SZQEAFl5YvSAIypJAD_jZ4dysIw022.mp3</string>
<key>singer</key>
<string>Lil Yachty</string>
<key>songId</key>
<string>83cabb85-73bd-11e7-8dc2-f45c8991f5ab</string>
<key>songName</key>
<string>Marmalade</string>
</dict>
<dict>
<key>duration</key>
<string>190000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170103/20170103172154556.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/bd5e22b4b93c934577c4efc3e59b20ce/597b4888/G103/M0A/18/00/R5QEAFlwygeAdSQQAC6CB0bckUo871.mp3</string>
<key>singer</key>
<string>Digital Farm Animals</string>
<key>songId</key>
<string>83cfcf7d-73bd-11e7-9c36-f45c8991f5ab</string>
<key>songName</key>
<string>Back to You</string>
</dict>
<dict>
<key>duration</key>
<string>223000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20150430/20150430112243660105.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/ab43b013795953f6faa81ff7dedca395/597b4889/G110/M08/08/13/TpQEAFlxwb2AFKGzADZ-HC6q2mk166.mp3</string>
<key>singer</key>
<string>X Ambassadors</string>
<key>songId</key>
<string>83d4ff2e-73bd-11e7-867a-f45c8991f5ab</string>
<key>songName</key>
<string>Ahead of Myself</string>
</dict>
<dict>
<key>duration</key>
<string>186000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170720/20170720161303933.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/09677e17a9edc6908ec3f2757653d1ed/597b3def/G094/M00/0B/07/_oYBAFlnObCAZkVOAC1zAmMfUII267.mp3</string>
<key>singer</key>
<string>Gucci Mane</string>
<key>songId</key>
<string>83d9d268-73bd-11e7-b7af-f45c8991f5ab</string>
<key>songName</key>
<string>Fetish</string>
</dict>
<dict>
<key>duration</key>
<string>196000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170707/20170707124007987.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/1f196bea1c7ce8f86723d29191598fc5/597b4526/G103/M02/12/01/pw0DAFlnmbWAcQ_UAC_v__OMoqg422.mp3</string>
<key>singer</key>
<string>The Dap-Kings Horns</string>
<key>songId</key>
<string>83df2c42-73bd-11e7-9c5b-f45c8991f5ab</string>
<key>songName</key>
<string>Woman</string>
</dict>
<dict>
<key>duration</key>
<string>201000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161123/20161123154812538305.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/ba8340fec3168bf76ffadd5a8265f727/597b3ccf/G110/M00/1A/10/rg0DAFlnl0eAIPxdADEl8mKZeEQ290.mp3</string>
<key>singer</key>
<string>Seeb</string>
<key>songId</key>
<string>83e4c52e-73bd-11e7-b3bc-f45c8991f5ab</string>
<key>songName</key>
<string>Rich Love</string>
</dict>
<dict>
<key>duration</key>
<string>239000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170316/20170316182005449.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/6622a991f25654f152d9b1a36a966947/597b4866/G093/M07/00/19/_YYBAFlnlUqANpJuADqbWFDDEUs300.mp3</string>
<key>singer</key>
<string>Gavin James</string>
<key>songId</key>
<string>83e973ca-73bd-11e7-87eb-f45c8991f5ab</string>
<key>songName</key>
<string>Tired - Kygo Remix</string>
</dict>
<dict>
<key>duration</key>
<string>277000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161123/20161123145446371871.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/af8778834d3515c1061cb9cbf35f47b3/597b3b0e/G094/M0A/1D/18/ng0DAFloNxOARsbZAEOgEVIGnKk960.mp3</string>
<key>singer</key>
<string>Big Sean</string>
<key>songId</key>
<string>83ee61d9-73bd-11e7-b00a-f45c8991f5ab</string>
<key>songName</key>
<string>Miracles - Someone Special</string>
</dict>
<dict>
<key>duration</key>
<string>209000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20140519/20140519180313244744.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/61acbb99da2db578ba8d56553978b2da/597b3b0e/G112/M0B/0D/10/UJQEAFlnnpuAT4yOADMennJsxL4430.mp3</string>
<key>singer</key>
<string>The Script</string>
<key>songId</key>
<string>83f3b702-73bd-11e7-bc30-f45c8991f5ab</string>
<key>songName</key>
<string>Rain</string>
</dict>
<dict>
<key>duration</key>
<string>171000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20150305/20150305164900177750.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/c43733dbfc7c698ffc567dbe4c728c61/597b3c6a/G100/M09/12/11/BIcBAFkDa_2AQRowACnMlKdRiz8887.mp3</string>
<key>singer</key>
<string>Kid Ink</string>
<key>songId</key>
<string>83f90a54-73bd-11e7-8308-f45c8991f5ab</string>
<key>songName</key>
<string>I Love You - Chace Remix</string>
</dict>
<dict>
<key>duration</key>
<string>203000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160919/20160919175742221.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/4ee0bcdbddd65b347016ded1671d055f/597b488c/G108/M06/0C/09/TJQEAFll9FCAbvnnADHCrlmo1xU755.mp3</string>
<key>singer</key>
<string>Demi Lovato</string>
<key>songId</key>
<string>83fe3f87-73bd-11e7-b4ec-f45c8991f5ab</string>
<key>songName</key>
<string>Sorry Not Sorry</string>
</dict>
<dict>
<key>duration</key>
<string>258000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20131216/20131216180102817717.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/383057e4e7a1c21fe8ef5a0e4025ad79/597b488d/G111/M08/09/03/T5QEAFk6CPCAVS9RAD7zYQsvuoA226.mp3</string>
<key>singer</key>
<string>London Grammar</string>
<key>songId</key>
<string>8403ad68-73bd-11e7-939e-f45c8991f5ab</string>
<key>songName</key>
<string>Non Believer</string>
</dict>
<dict>
<key>duration</key>
<string>209000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20140823/20140823214258549970.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/e0d92e3f74b2eb955af3d30785bee2ea/597b3b0e/G104/M07/1C/01/qA0DAFloLWmACUYsADMfv9hVnkU224.mp3</string>
<key>singer</key>
<string>Echosmith</string>
<key>songId</key>
<string>84092614-73bd-11e7-a518-f45c8991f5ab</string>
<key>songName</key>
<string>Goodbye</string>
</dict>
<dict>
<key>duration</key>
<string>243000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20120808/20120808163842547321.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/b78e2b517254f4a9b2c53ac00fccc119/597b488d/G094/M03/1C/17/PpQEAFlobu-AQKmHADtg46hStBc511.mp3</string>
<key>singer</key>
<string>Foster the People</string>
<key>songId</key>
<string>840eb494-73bd-11e7-a9c7-f45c8991f5ab</string>
<key>songName</key>
<string>Sit Next to Me</string>
</dict>
<dict>
<key>duration</key>
<string>231000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20151106/20151106162353848667.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/dbd6225821173907ddc981bc583f52f2/597b3b0f/G092/M0A/1B/01/nA0DAFloaFeAI40AADh9IasInOg395.mp3</string>
<key>singer</key>
<string>ROZES</string>
<key>songId</key>
<string>8413748f-73bd-11e7-960c-f45c8991f5ab</string>
<key>songName</key>
<string>Canyons</string>
</dict>
<dict>
<key>duration</key>
<string>195000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20150408/20150408172438432255.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/f8bdef6c34068707f0374adb1a312de1/597b3b0f/G105/M03/1E/0B/CYcBAFljpUOADGKqAC9_SKistCM136.mp3</string>
<key>singer</key>
<string>AlunaGeorge</string>
<key>songId</key>
<string>84189945-73bd-11e7-9447-f45c8991f5ab</string>
<key>songName</key>
<string>Last Kiss</string>
</dict>
<dict>
<key>duration</key>
<string>230000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170707/20170707124007987.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/1154cd5794ac81031b7916d369a0fb43/597b3b0f/G104/M06/0B/01/CIcBAFlezw2AYxrsADg_ROZU8rs148.mp3</string>
<key>singer</key>
<string>Kesha</string>
<key>songId</key>
<string>841d5151-73bd-11e7-a1a6-f45c8991f5ab</string>
<key>songName</key>
<string>Praying</string>
</dict>
<dict>
<key>duration</key>
<string>219000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170704/20170704194248962.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/777f0618728f36879756d01bcd21540e/597b44f0/G092/M04/1F/15/nA0DAFlojNiAA3oAADWlN8EfsTE418.mp3</string>
<key>singer</key>
<string>叶炫清</string>
<key>songId</key>
<string>842b2c28-73bd-11e7-858b-f45c8991f5ab</string>
<key>songName</key>
<string>从前慢 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>177000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170518/20170518003547365.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/d44ad4cf43bf44dc5403751df59e2487/597b466c/G114/M08/1A/1F/UpQEAFltgDmAGFOkACtrt28vIac649.mp3</string>
<key>singer</key>
<string>周杰伦</string>
<key>songId</key>
<string>8430168f-73bd-11e7-a4a1-f45c8991f5ab</string>
<key>songName</key>
<string>沧海一声笑 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>163000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170119/20170119105146606.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/fbffb195f9a2139ee039a308dc23101d/597b45a7/G090/M04/17/1F/OpQEAFltgAyAONGOACftt9foQSo505.mp3</string>
<key>singer</key>
<string>陈奕迅</string>
<key>songId</key>
<string>8435aa17-73bd-11e7-a244-f45c8991f5ab</string>
<key>songName</key>
<string>谢谢老斑鸠 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>254000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20151219/20151219145726640.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/a97aa4974d60ad7a86afa3d14089449b/597b4890/G106/M0B/17/09/qg0DAFlojO6AfzyAAD4Wt58mjTM394.mp3</string>
<key>singer</key>
<string>朱文婷</string>
<key>songId</key>
<string>843b40eb-73bd-11e7-8428-f45c8991f5ab</string>
<key>songName</key>
<string>淘汰 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>167000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170119/20170119105146606.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/9eed301187d3a888fed4155ebcf22305/597b465c/G104/M00/17/09/qA0DAFltgAKAeLKJACjiN6_ZmK4364.mp3</string>
<key>singer</key>
<string>刘欢</string>
<key>songId</key>
<string>844027d7-73bd-11e7-aa15-f45c8991f5ab</string>
<key>songName</key>
<string>一笑而过的背包 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>202000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160711/20160711151037573639.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/6051f01b7aabe239a93a73e482e75a6d/597b3cda/G096/M07/15/08/oA0DAFltgCmAcdEUADFYN9kUC5o021.mp3</string>
<key>singer</key>
<string>周杰伦</string>
<key>songId</key>
<string>844706f0-73bd-11e7-91a6-f45c8991f5ab</string>
<key>songName</key>
<string>因为爱情 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>144000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20160711/20160711151037573639.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/afb0ae4af639139f1e332cfff675b05f/597b450a/G095/M07/0C/03/P5QEAFltgDKAUe5mACMut9wagAY489.mp3</string>
<key>singer</key>
<string>陈奕迅</string>
<key>songId</key>
<string>844c1302-73bd-11e7-b44a-f45c8991f5ab</string>
<key>songName</key>
<string>天地在我心 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>203000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170714/20170714151924468.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/3cef3657eca3a618e5fc63c67d80b71d/597b4891/G095/M00/16/14/nw0DAFlojPqAT_3WADG7OCHb1GE199.mp3</string>
<key>singer</key>
<string>次仁拉吉</string>
<key>songId</key>
<string>84512ffd-73bd-11e7-a7af-f45c8991f5ab</string>
<key>songName</key>
<string>穷开心 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>170000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20140616/20140616184447305522.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/5d458d782505c4c8bff8509b17066b93/597b4892/G109/M00/1C/13/DYcBAFltf_aAVKisACmZN2mC54k660.mp3</string>
<key>singer</key>
<string>陈奕迅</string>
<key>songId</key>
<string>8455f6d9-73bd-11e7-bae0-f45c8991f5ab</string>
<key>songName</key>
<string>菊花台 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>196000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170714/20170714153709878.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/6bb1cb2165f0c56537899383824abcbc/597b4353/G113/M0A/1C/08/sQ0DAFlojOSALsl0ADAFOM8Kq-M736.mp3</string>
<key>singer</key>
<string>张泽</string>
<key>songId</key>
<string>845b3080-73bd-11e7-9bdf-f45c8991f5ab</string>
<key>songName</key>
<string>天气这么热 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>245000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170714/20170714152303823.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/1b50f10f00891dd3c4ee09fec988a7d7/597b3cac/G097/M00/05/14/QZQEAFlojRKAM23XADvkOBz8TNc698.mp3</string>
<key>singer</key>
<string>董姿彦</string>
<key>songId</key>
<string>846073cc-73bd-11e7-b624-f45c8991f5ab</string>
<key>songName</key>
<string>恋曲1990 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>230000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170714/20170714152642869.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/f808c4a4e23baf8e74faf6181392d4aa/597b4893/G093/M07/13/1B/_YYBAFlojQaAFA-CADg2ODqYO-c731.mp3</string>
<key>singer</key>
<string>符荣鹏</string>
<key>songId</key>
<string>84654e3a-73bd-11e7-86c7-f45c8991f5ab</string>
<key>songName</key>
<string>无条件 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>142000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20140616/20140616184447305522.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/9755b18f890ed5f495b67e26bd1799a9/597b4893/G105/M0A/14/1D/CYcBAFltf-2AEv7yACLfN0TmBhk100.mp3</string>
<key>singer</key>
<string>那英</string>
<key>songId</key>
<string>846a7fd7-73bd-11e7-9744-f45c8991f5ab</string>
<key>songName</key>
<string>过把瘾 - 2017中国新歌声第二季第一期现场</string>
</dict>
<dict>
<key>duration</key>
<string>244000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170721/20170721161027963.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/c3bd7f3974d7f4571d1cf0be6fbd5cb9/597b43f8/G109/M09/14/18/TZQEAFlx5NiAZ4uZADuuN1pbaI4433.mp3</string>
<key>singer</key>
<string>川虎</string>
<key>songId</key>
<string>846f67ee-73bd-11e7-bab2-f45c8991f5ab</string>
<key>songName</key>
<string>我要你 - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>238000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170721/20170721164155588.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/d89ce586cd152d9447e3eece4039a929/597b46c7/G110/M08/12/15/TpQEAFlx5NiAefIGADomt0fiQaY906.mp3</string>
<key>singer</key>
<string>胡斯默</string>
<key>songId</key>
<string>8474c6ee-73bd-11e7-bb31-f45c8991f5ab</string>
<key>songName</key>
<string>三月 - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>208000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170721/20170721154018959.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/138a0ad1436b77231a852e0c5e2fbdfe/597b3ff0/G104/M01/09/11/SJQEAFlx5NiAfW2HADLkN0KrMpI960.mp3</string>
<key>singer</key>
<string>叶晓粤</string>
<key>songId</key>
<string>847cd14a-73bd-11e7-93b3-f45c8991f5ab</string>
<key>songName</key>
<string>闷 - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>265000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170721/20170721152858299.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/da41b6e3bcd60ccb1acd335ebff6fa8c/597b3f84/G104/M06/07/0F/CIcBAFlx5NmAG-QtAEDZP8hscr8087.mp3</string>
<key>singer</key>
<string>扎西平措</string>
<key>songId</key>
<string>8482b591-73bd-11e7-880e-f45c8991f5ab</string>
<key>songName</key>
<string>一面湖水 - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>263000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20161201/20161201143425368.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/14262d7207547ac3333e6123d4d6ded0/597b3f11/G109/M02/0B/19/TZQEAFlyER2AMQkbAEBVfvUCpD0987.mp3</string>
<key>singer</key>
<string>子子</string>
<key>songId</key>
<string>8487a494-73bd-11e7-9e88-f45c8991f5ab</string>
<key>songName</key>
<string>Careless Whisper - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>241000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170721/20170721155109703.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/442a6916e56e8be9c787d6e735e34f6c/597b3ee9/G112/M04/1D/13/UJQEAFlyEK6APpFZADruNWT55pE255.mp3</string>
<key>singer</key>
<string>于梓贝</string>
<key>songId</key>
<string>848d636e-73bd-11e7-b952-f45c8991f5ab</string>
<key>songName</key>
<string>模特 - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>243000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170721/20170721161639445.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/cd706752affc7aa59ee3250459b2f46c/597b4896/G103/M09/06/18/B4cBAFlyHouAWuVRADtiKsGPQjU323.mp3</string>
<key>singer</key>
<string>王振诺</string>
<key>songId</key>
<string>849235cf-73bd-11e7-9020-f45c8991f5ab</string>
<key>songName</key>
<string>别说没爱过 - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>213000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170721/20170721162506795.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/8b759e2c3edfd9f9056bc7bdd36c69d3/597b401b/G103/M05/06/01/R5QEAFl1YzyAFtHaADQjtSGJiFg708.mp3</string>
<key>singer</key>
<string>菲林乐洋</string>
<key>songId</key>
<string>84988bba-73bd-11e7-8357-f45c8991f5ab</string>
<key>songName</key>
<string>告白气球 - 2017中国新歌声第二季第二期现场</string>
</dict>
<dict>
<key>duration</key>
<string>229000</string>
<key>albumUrl</key>
<string>http://singerimg.kugou.com/uploadpic/softhead/400/20170722/20170722003201183.jpg</string>
<key>songUrl</key>
<string>http://fs.web.kugou.com/2937247fd60485b0b6f90c8a0facbd47/597b3ec4/G107/M08/10/1B/qw0DAFl1Yz2APDi6ADgXW38_LKk552.mp3</string>
<key>singer</key>
<string>张美仪</string>
<key>songId</key>
<string>849e244f-73bd-11e7-a4d4-f45c8991f5ab</string>
<key>songName</key>
<string>想和你去吹吹风 - 2017中国新歌声第二季第二期现场</string>
</dict>
</array>
</plist>